@font-face {
    font-family: "CustomFont";
    src: url("../fonts/PokemonGb-RAeo.ttf");
    src: url("../fonts/PokemonGb-RAeo.ttf") format("woff"),
        url("../fonts/PokemonGb-RAeo.ttf") format("truetype"),
}

/* Backup font choice, apply where needed */
/* font-family: 'Pokemon Solid', sans-serif; */

* {
    font-family: 'CustomFont', sans-serif;
    font-size: 20px;
    margin: 0;
    box-sizing: border-box;
}

a.dropdown-item {
    text-decoration: none !important;
}

.jumbotron {
    color: white;
    background-image: url("../images/pika-jumbo1.jpg");
    background-color: #fbcd3c;
    background-position: center;
    background-size: cover;
    height: 500px;
    animation: fadeIn 2s ease;
    -webkit-animation: fadeIn 2s ease;
    -moz-animation: fadeIn 2s ease;
    -o-animation: fadeIn 2s ease;
    -ms-animation: fadeIn 2s ease;
}

.jumbotron-text-bg-blur {
    margin: auto;
    height: 380px;
    padding: 32px;
    width: 60%;
    text-align: center;
    vertical-align: baseline;
    background-color: rgba(0, 0, 0, .25);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(5px);
}

.dropdown-item {
    color: white;
}

.card-img {
    align-self: center;

}

#overlay {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.7;
    background-color: rgba(0, 0, 0, .17);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
}


/* CARD, MODAL, FAV BUTTON */

/* Card style */

.card {
    background-color: #f8f8f8;
    border-radius: 15px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px;
}

.card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease-in-out;
}

.card-title {
    font-family: "CustomFont", sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.card-text {
    font-family: "CustomFont", sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}

.pokemon-details {
    width: 100%;

}

.btn-primary {
    background-color: #cc0000;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: "Pokemon Solid", sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: #e60000;
    cursor: pointer;
}

/* Modal style */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10000;
}

.modal-dialog {
    margin: auto;
    margin-top: 10%;
    max-width: 800px;
}

.modal-content {
    background-color: #f8f8f8;
    border-radius: 15px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.modal-title {
    font-family: "Pokemon Solid", sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.modal-body {
    font-family: "CustomFont", sans-serif;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
}

.modal-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.modal-img {
    max-width: 100%;
    max-height: 250px;
    margin: auto;
    display: block;
}

.modal-content {
    font-family: 'Press Start 2P', cursive;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.modal-header {
    background-color: #EE3D00;
    color: white;
    text-align: center;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-title {
    font-size: 30px;
    margin-top: 10px;
}

.modal-body {
    padding: 20px;
}

.modal-img {
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.col-md-4 p {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
}

.col-md-4 p:first-of-type {
    border-bottom: 1px solid #EEE;
}

.col-md-4 p:last-of-type {
    border-top: 1px solid #EEE;
}

.fw-bold {
    font-weight: bold;
}

.favorite-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.favorite-btn.favorited img {
    content: url('../images/icons/pokeballs-48.png');
}

@media (max-width: 768px) {
    .col-md-4 p {
        padding: 5px 0;
        font-size: 14px;
    }

    .modal-img {
        margin-top: 20px;
    }

    .modal-title {
        font-size: 24px;
        margin-top: 20px;
    }
}


/* PAGINATION */

.pagination-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
    font-weight: bold;
}

.pagination-list li a,
.pagination-list li span {
    display: block;
    padding: 10px 15px;
    border: 1px solid #E0E3E8;
    text-decoration: none;
    border-radius: 5px;
    background: #FFF;
    color: #242B36;
    user-select: none;
}

.pagination-list .previous a,
.pagination-list .next a {
    color: #C7CDD5;
}

.pagination-list .current span {
    color: #cc0000;
    border: 1px solid #fbcd3c;
}

.pagination-list .previous span,
.pagination-list .next span {
    background: #BDC2C8;
    color: #D6D9DD;
    border: 1px solid #BDC2C8;
}