* {
    margin: 0;
    box-sizing: border-box;
}

.jumbotron {
    color: white;
    background-image: url("../images/pika-jumbo1.jpg");
    background-color: #fbcd3c;
    background-position: center;
    background-size: cover;
    height: 500px;
    animation: fadeIn 2s ease;
    -webkit-animation: fadeIn 2s ease;
    -moz-animation: fadeIn 2s ease;
    -o-animation: fadeIn 2s ease;
    -ms-animation: fadeIn 2s ease;
  }

.dropdown-item {
    color: white;
}

.card-img {
    align-self: center;

}

.overlay {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.7;
    background-color: rgba(0,0,0,.17);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    /* display: none; */
}